# Dependencies 
node_modules/

# Environment variables
server/.env
.env.local
.env.*.local

# TypeScript build output 
dist/
build/

# just a collection of notes/code that *might* be useful, but probably not tbh:
ZZZ_ignore_garbage_code

# IDE specific folders
.idea
# add any javascript files? --> will be compiled by TypeScript compiler